<form
	change:form="beanClass photoalbum_persistentdocument_photo">
	<ul change:errors=""></ul>
	<input change:field="name beanId" hidden="true" />
	<p>
		<input change:submit="" name="${submitAction}" value="Enregistrer" class="button" />
		<a tal:condition="edit_from_url" class="button" href="${edit_from_url}" onclick="${cancel_confirm}">Annuler</a>
	</p>
	<div change:tabs="id photoform">
		<div change:tab="name generalities; label &modules.photoalbum.bo.general.GeneralitiesSpaced;">
			<ol>
				<li class="first"><input change:field="name label" /></li>
				<li class="last"><input change:field="name summary" /></li>
			</ol>
		</div>
		<div change:tab="name files; label &modules.photoalbum.bo.general.VisualSpaced;">
			<ol>
				<li class="first"><input change:uploadfield="name media" /></li>
				<li><input change:uploadfield="name thumbnail" /></li>
				<li><input change:uploadfield="name mediahd" /></li>
				<li class="last"><input change:field="name copyright" /></li>
			</ol>
		</div>
		<div change:tab="name publication; label &modules.photoalbum.bo.general.PublicationSpaced;">
			<ol>
				<li class="first"><input change:field="name startpublicationdate" /></li>
				<li class="last"><input change:field="name endpublicationdate" /></li>
			</ol>
		</div>
	</div>
	<p>
		<input change:submit="" name="${submitAction}" value="Enregistrer" class="button" />
		<a tal:condition="edit_from_url" class="button" href="${edit_from_url}" onclick="${cancel_confirm}">Annuler</a>
	</p>
</form>