.albumthumbnail{
	max-width: 128px;
	max-height: 128px;
}
.photopreview{
	max-width: 350px;
	max-height: 350px;
}
.photoselector{
	max-width: 64px;
	max-height: 64px;
}
.diaporama{
	max-width: 700px;
	max-height: 700px;
}