<tal:block tal:define="photo album/getCurrentPhoto">
	<img change:media="document photo/getMedia; format 'modules.photoalbum.frontoffice/photopreview'; zoom 'true'; id 'previewPhoto'" />
	<h3 change:h="">${photo/getLabelAsHtml}</h3>
	<p class="normal">${photo/getSummaryAsHtml}</p>
	<p class="normal" tal:condition="photo/getMediahd"><span>${trans:m.photoalbum.frontoffice.downloadhd,lab,ucf}</span> <a change:download="document photo/getMediahd"></a></p>
	<p class="normal" tal:condition="photo/getCopyright">${trans:m.photoalbum.frontoffice.copyright,lab,ucf} ${photo/getCopyright}</p>
	<ul id="photoalbum_infocontrol" data-currentpageindex="${album/getCurrentPageIndex}" data-pagesize="${album/getPageSize}" data-albumid="${album/getId}">
		<li class="previous" tal:condition="album/getPreviousPhoto">
			<a id="photoinfocontrolprevious" change:link="document album; photoalbumParam[currentphoto] album/getPreviousPhoto/getId" title="${album/getPreviousPhoto/getLabelAsHtml}" data-photoid="${album/getPreviousPhoto/getId}" data-pageindex="${album/getPreviousPhotoPageIndex}">
	  			<img change:img="icon/small/control-backward.png" alt="" /> ${trans:m.photoalbum.frontoffice.diapoprevious}
	  		</a>
	  	</li>
		<li class="next" tal:condition="album/getNextPhoto">
			<a id="photoinfocontrolnext" change:link="document album; photoalbumParam[currentphoto] album/getNextPhoto/getId" title="${album/getNextPhoto/getLabelAsHtml}" data-photoid="${album/getNextPhoto/getId}" data-pageindex="${album/getNextPhotoPageIndex}">
				<img change:img="icon/small/control-forward.png" alt="" /> ${trans:m.photoalbum.frontoffice.diaponext}
			</a>
		</li>
	</ul>
</tal:block>