<h2 change:h="">${item/getLabelAsHtml}</h2>

<tal:block tal:condition="item/getPublishedPhotos/0">
	<div class="photopreview">
		<div id="previewinfos">
			<div id="previewinfodata">
				<tal:block change:include="module 'photoalbum'; template 'Photoalbum-Block-Photo-Infos'; type 'html'; album item" />
			</div>
		</div>
	</div>
	
	<div class="selectorcontainer">
		<p class="normal" tal:condition="usediaporama">
			<a id="diaporamalink" change:currentPageLink="diaporamaparams" class="link" style="visibility: hidden;">
				<img change:img="icon/small/projection-screen.png" alt="" /> ${trans:m.photoalbum.frontoffice.diaporama-view,ucf}
			</a>
		</p>
		<div id="selectorcontainer">
			<tal:block change:include="module 'photoalbum'; template 'Photoalbum-Block-Album-Selector'; type 'html'; item item" />
		</div>
	</div>

	<script type="text/javascript">
	<!--
	var PhotoAlbum = {
		onSelectorClick : function(e) {
	    		var pageindex = jQuery(this).attr('data-pageindex');
	    		var lang = pageHandler.lang;
	    		PhotoAlbum.loadSelector(PhotoAlbum.albumid, pageindex, PhotoAlbum.pageSize, lang);
	    		return false;
	    	},
	    	
	    loadSelector : function(albumid, pageindex, pagesize, lang) {
	    	jQuery('#selectorcontainer').load('/index.php', {currentpageindex: pageindex, pagesize: pagesize, module: 'photoalbum', action: 'Selector', cmpref: albumid, lang: lang}, PhotoAlbum.bindSelector);
	    	return false;
	    },
	    	
		onSelectorImgClick : function(e) {
				var elem = jQuery(this);
				var newPageIndex = elem.attr('data-pageindex');
				if (newPageIndex != null && newPageIndex != PhotoAlbum.currentPageIndex)
				{
					PhotoAlbum.loadSelector(PhotoAlbum.albumid, newPageIndex, PhotoAlbum.pageSize, pageHandler.lang);
				}
				
				var photoid = elem.attr('data-photoid'); 
				var previewInfos = jQuery('#previewinfos');
				previewInfos.css("width", previewInfos.width()+"px");
				previewInfos.css("height", previewInfos.height()+"px");
	  			previewInfos.load('/index.php', {module: 'photoalbum', action: 'PhotoInfos', cmpref: photoid, lang: pageHandler.lang, pagesize: PhotoAlbum.pageSize, currentPageId : pageHandler.id, currentURL : window.location.toString()}, PhotoAlbum.bindPreview);
	  			
	  			return false;
	  		},
	  
	  	bindSelector: function() {
			jQuery('a.photoselector').each(function(index, domElement) 
	    	{
				jQuery(domElement).attr('href', 'javascript:return false;').bind('click', PhotoAlbum.onSelectorImgClick);
			})
	
			jQuery('#previousselector').attr('href', 'javascript:;').bind('click', PhotoAlbum.onSelectorClick);  
			jQuery('#nextselector').attr('href', 'javascript:;').bind('click', PhotoAlbum.onSelectorClick);
			return false;
	  	},
	  	
	  	updatePreview: function() {
	  		PhotoAlbum.bindPreview();
	  	},
	
		bindPreview: function() {
			jQuery('#previewPhoto').load(function () {
				var previewInfosData = jQuery('#previewinfosdata');
				var previewInfos = jQuery('#previewinfos');
				previewInfos.css("width", previewInfosData.width());
				previewInfos.css("height", previewInfosData.height());
			});
			var photoInfoControl = jQuery('#photoalbum_infocontrol');
			PhotoAlbum.currentPageIndex = photoInfoControl.attr('data-currentpageindex');
			PhotoAlbum.pageSize = photoInfoControl.attr('data-pagesize');
			PhotoAlbum.albumid = photoInfoControl.attr('data-albumid');
			jQuery('#photoinfocontrolprevious').attr('href', 'javascript:return false;').bind('click', PhotoAlbum.onSelectorImgClick);
			jQuery('#photoinfocontrolnext').attr('href', 'javascript:return false;').bind('click', PhotoAlbum.onSelectorImgClick);
			jQuery('#previewinfos a.lightbox').fancybox();
			
	  		return false;
	  	}
	};
	
	jQuery(document).ready(function() 
	{
		jQuery("#diaporamalink").css("visibility", "visible");
	    PhotoAlbum.bindSelector();
	    PhotoAlbum.bindPreview();
	});
	//-->
	</script>
</tal:block>
<p class="normal" tal:condition="not: item/getPublishedPhotos/0">${trans:m.photoalbum.frontoffice.empty-album,ucf}</p>