<ul id="controls">
	<li id="diaporamaprev" class="first"><a class="link" href="javascript:;"><span>${trans:m.photoalbum.frontoffice.diapoprevious,ucf}</span></a></li>
	<li id="diaporamapause"><a class="link" href="javascript:;"><span>${trans:m.photoalbum.frontoffice.diapopause,ucf}</span></a></li>
	<li id="diaporamaresume"><a class="link" href="javascript:;"><span>${trans:m.photoalbum.frontoffice.diapostart,ucf}</span></a></li>
	<li id="diaporamanext"><a class="link" href="javascript:;"><span>${trans:m.photoalbum.frontoffice.diaponext,ucf}</span></a></li>
	<li id="diaporamaexit" class="last"><a change:link="document item; photoalbumParam[diaporama] '0'"><span>${trans:m.photoalbum.frontoffice.diapoexit,ucf}</span></a></li>
</ul>
<div id="diaporama">
	<div id="photozone">
		<div tal:repeat="photo item/getPublishedPhotos">
			<h4 tal:condition="configuration/getDiaporamaincludestext" change:h="">${photo/getLabelAsHtml}</h4>
			<img class="image" src="${photo/getDiaporamaUrl}" title="{photo/getLabelAsHtml}" alt="${photo/getLabelAsHtml}" id="${photo/getId}" />
			<p tal:condition="configuration/getDiaporamaincludestext" class="normal">${photo/getSummaryAsHtml}</p>
			<tal:block tal:condition="configuration/getDiaporamaincludestext">
				<p tal:condition="photo/getCopyright" class="normal">
					${trans:m.photoalbum.frontoffice.copyright,lab,ucf} ${photo/getCopyrightAsHtml}
				</p>
			</tal:block>
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
jQuery(document).ready(function() {
	jQuery('#photozone').cycle({ 
	    fx:      'fade', 
	    timeout: 3000,
	    next:   '#diaporamaprev', 
	    prev:   '#diaporamanext',
	    prevNextClick: stopAnimation
	});

	jQuery('#diaporamapause').bind('click', function(){
		jQuery('#photozone').cycle('pause');
		jQuery('#diaporamapause').css('display', 'none');
		jQuery('#diaporamaresume').css('display', 'inline');
	}).css('display', 'inline');
	
	jQuery('#diaporamaresume').bind('click', function(){
		jQuery('#photozone').cycle('resume');
		jQuery('#diaporamapause').css('display', 'inline');
		jQuery('#diaporamaresume').css('display', 'none');
	}).css('display', 'none');
});

function stopAnimation(isNext, zeroBasedSlideIndex, slideElement)
{
	jQuery('#photozone').cycle('pause');
	jQuery('#diaporamapause').css('display', 'none');
	jQuery('#diaporamaresume').css('display', 'inline');
}
//-->
</script>