<h3 change:h="">${item/getLabelAsHtml} <a change:edit="document item"></a></h3>

<p change:create="" model="photoalbum/photo" parentId="${item/getId}">Ajouter une nouvelle photo dans l'album ${item/getLabelAsHtml}</p>

<p change:translate="modules.photoalbum.frontoffice.this-album-is-not-published" />
<p tal:condition="not: item/getPublishedPhotos" change:translate="modules.photoalbum.frontoffice.create-and-activate-at-least-one-photo-in-album" />

<table class="normal" tal:condition="item/getPublishedPhotos">
	<thead>
		<tr>
			<th>Libellé</th>
			<th>Photo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="photo item/getPublishedPhotos">
			<td>${photo/getLabelAsHtml}</td>
			<td>
				<img change:media="document photo/getMedia; format 'modules.media.frontoffice/thumbnail'; zoom 'true'" />
			</td>
			<td>
				<a change:edit="document photo"></a>
			</td>
		</tr>
	</tbody>
	<caption>Liste des photos de l'album</caption>
</table>